# frontend/nixpacks.toml

[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
# Perintah ini KHUSUS untuk react-scripts (Create React App)
cmd = "npx serve -s build -l $PORT"