fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
psycopg2-binary
python-dotenv
pandas
openpyxl
xlsxwriter
reportlab
qrcode
Pillow
anyio
click
h11
httptools
idna
numpy
python-dateutil
pytz
PyYAML
six
starlette
typing-extensions
watchfiles
websockets