fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-jose
passlib[bcrypt]
pandas
openpyxl
xlsxwriter
reportlab
qrcode
Pillow>=10.3.0
psycopg2-binary
python-dotenv
anyio
click
h11
httptools
idna
numpy
python-dateutil
pytz
PyYAML
six
starlette
typing-extensions
watchfiles
websockets