@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan agar scrollbar di HP hilang (Opsional, tapi bagus) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}